.navbar {
  padding: 0.1em 1em;
  border-radius: 0;
  background-color: $dark;

  .navbar-brand,
  .navbar-brand:hover {
    color: $pagecolorlight;
    font-size: 1.8em;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  @include media-breakpoint-up(lg) {
    .menu {
      justify-content: space-between;
    }
    ul {
      display: flex;
    }
  }

  a.nav-link {
    text-decoration: none;
    color: $white !important; // sass-lint:disable-line no-important

    &.active-link,
    &:hover,
    &:focus {
      @include headerNavLink;
    }
    &.active a {
      @include headerNavLink;
    }
  }

  .dropdown {
    a.nav-link.dropdown-toggle {
      text-decoration: underline;

      &:hover,
      &:focus {
        @include basic-focus;
        outline-color: $white;
        background-color: $dark;
        color: $white !important; // sass-lint:disable-line no-important
      }
    }

    .dropdown-menu {
      background-color: $dark;

      li.permissions {
        color: $white;
        padding: 0.25rem 1rem;
        background-color: $dark-gray;
      }

      a {
        color: $white;

        &:hover,
        &:focus {
          @include headerNavLink;
        }
      }
    }

    ul {
      display: block;
      list-style-type: none;
    }
  }
}
